/* MOBILE STYLES */

body {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0;
    color: #0B1942;
    font-family: 'PT Sans', sans-serif;
}

a {
    color: #00B7D3;
}

header {
    display: flex;
    color: #FFFFFF;
    background-color: #7DDFE8;
}

.logo-box {
    background-color: #F5005B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo { 
    display: flex;
    width: 75%;
}

nav  {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
}

nav a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 7.4px;
    color: #FFFFFF;
    font-size: 1em;
}

#nav-home {
    background-color: #00A5BF;
}

#nav-calendar{
    background-color: #00B7D3;
}

#nav-join {
    background-color: #00D5E7;
}

/* Calendar Page */
.meetup-calendar {
    margin-left: 5%;
}

h1 {
    font-weight: lighter;
}

.calendar-section {
    margin: 0;
    color: #FFFFFF;
    background-color: #0B1942;
}

#june {
    font-weight: lighter;
    padding: 2%;
    margin: 0;
}

table {
    width: 100%;
    height: 90vh;
}

tr {
}

td {
    background-color: white;
    color:#FFFFFF;
    font-size: .5rem;
    padding-bottom: 13px;
    padding-left: 0;
    border: none;
}

span {
    background: #0B1942;
    padding: 5px;
}

/* Home Page */
.section-one {
    padding: 5%;
}

.get-involved {
    font-size: 2rem;
    margin: 0;
    font-weight: lighter;
}

.section-one-titles {
    background-color: #0B1942;
    color: #FFFFFF;
    padding: 2%;
    font-size: 1.3rem;
    font-weight: lighter;
}

.section-one-txt {
    font-size: .9rem;
    padding: 0;
    margin: 0;
}

.section-two {
    background-color: #0B1942;
    padding: 3%;
}

.up-next {
    margin: 1% 0 5% 0;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: lighter;
}

article {
    background-color: lightgray;
    padding: 3%;
    margin-bottom: 3%;
    display: flex;
    font-size: 1em
}

hr {
    border: 0;
    width: 130%;
    color: black;
    background-color: black;
    height: 2px;
  }

.rashomon-discussion {
    margin: 3vw
}

.rashomon-poster {
    height: 30%;
    width: 50%;
}

.rashomon-link {
    font-size: 1.5rem;
}

.film-club-rashomon {
    margin-top: 10%
}

article p {
    font-size: .8em;
}

article a {
    font-size: .8em;
}
    
ul {
    margin: 1.5%;
    list-style-type: circle;
    font-size: 1rem;
}

li {
    line-height: 1.5;
}

.films-row-one {
    display: flex;
    justify-content: space-around;
}

.article-two p, .article-two a {
    margin-top: 3%;
}

.edison-poster {
    width: 35vw;
}

.bicycle-poster {
    width: 35vw;
}

.article-two {
    display: flex;
    flex-direction: column;
}

.films-row-two {
    display: flex;
    justify-content: space-around;
}

.nosferatu-poster {
    width: 35vw;
}

.metropolis-poster {
    width: 34vw;
}

footer {
    background-color: #7DDFE8 
}

#copyright {
    margin: 0;
    padding: 25px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

/* Tablet styles */

@media (min-width: 545px) {
 

    header {
        background-color:#7DDFE8;
    }

    .logo-box {
        justify-content: space-around;
        flex-basis: 15%;
    }

    .logo {
        width: 75%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    nav {
        flex-direction: row;
        font-weight: bold; 
    }

    .nav-txt {
        padding-top: 35px;
    }

    #nav-calendar {
        flex-grow: .1;
    }

    #nav-home {
        flex-grow: .11;
    }

    #nav-join {
        flex-grow: .14;
    }

    .get-involved {
        font-size: 2rem;
        font-weight: lighter;
    }

    .section-headers {
        display: flex;
    }

    h2 {
        font-weight: lighter;
        font-size: 1rem;
    }

    .header {
        width: 30%;
        margin-right: 3%;
    }

    .section-two {
        padding: 2%
    }

    .up-next {
        margin: 0 0 2% 0;
        font-size: 2em;
        font-weight: lighter;
    }

   hr {
       width: 200%
   }

    .rashomon-discussion p {
        font-size: 1.5rem;
    }

    .rashomon-discussion a {
        font-size: 1.8rem;
    }

    ul {
        font-size: 1.2rem;
    }

    .rashomon-poster {
        width: 40%;
    }

    .article-two {
        display: flex;
        flex-direction: row;
    }

    .edison-poster {
        width: 20vw;
        padding-right: 10%;
    }
    
    .bicycle-poster {
        width: 20vw;
        padding-right: 10%;
    }
    
    .nosferatu-poster {
        width: 20vw;
        padding-right: 10%;
    }
    
    .metropolis-poster {
        width: 20vw;
        padding-right: 10%;
    }

    footer {
        display: flex;
    }

    footer nav {
        flex-basis: 10%;
    }

    .nav-txt {
        padding: 30px;
    }
    
    #nav-calendar {
        padding: 15px;
        padding-top: 30px;
    }

    #copyright {
        padding-left: 325px;
        align-items: center
    }
}

/* Desktop styles */

@media (min-width: 769px) {

    p {
        color: green;
    }

    .nav-txt {
        padding-top: 50px;
        font-size: 25px;
    }

    #nav-calendar {
        padding-top: 50px;
    }

    .desktop-div {
        display: flex;
        align-items: flex-start;
    }

    hr {
        width: 100%
    }

    ul {
        font-size:1rem;
    }

    .section-one-titles {
        font-size: 1.5rem;
    }

    .section-one p {
        font-size: 1.3rem;
    }

    .section-two p {
        font-size: 1rem;
    }

    .section-two a {
        font-size: 1rem;
    }

    .article-two {
        margin-left: 2%;
    }

    .article-one a {
        font-size: 1.5rem;
    }

    .article-one p {
        font-size: 1rem;
    }

    .rashomon-poster {
        width: 50%;
    }

    .films-row-one {
        display: flex;
        justify-content: space-around;
    }
    
    .article-two p, .article-two a {
        margin-top: 3%;
    }

    .edison-poster {
        width: 20vw;
    }
    
    .bicycle-poster {
        width: 20vw;
    }

    .nosferatu-poster {
        width: 20vw;
    }
    
    .metropolis-poster {
        width: 20vw;
    }
    
    .article-two {
        display: flex;
        flex-direction: column;
    }
    
    .films-row-two {
        display: flex;
        justify-content: space-around;
    }
    
    #copyright {
        font-size: 1.5rem;
        margin-left: 100px;
    }
   

}

    





















    































